APP_ID=<put here your APP_ID>
API_PORT=xxxx
ETHERSCAN_API_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
INFURA_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MATICVIGIL_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MNEMONIC=here is where your twelve words mnemonic should be put my friend
