<h1>Tellor Contract</h1>
<div *ngIf="!connected">Not connected</div>
<div *ngIf="connected">
    <div>address: {{address}}</div>
    <div>requestId: {{requestId}}</div>
    <div>SubscriptionChecker balance:
        <app-balance [balance]="subscriptionCheckerBalance" [decimals]="decimals" [symbol]="symbol"></app-balance>
    </div>
    <div>
        <h2>Events</h2>
        <div *ngFor="let event of events">{{event}}</div>
    </div>
    <!-- <button [disabled]="waiting" (click)="submittingValue = true">SubmitValue</button> -->
    <div *ngIf="submittingValue">
        <input #value type="number" [value]=0 min=0>
        <button [disabled]="waiting" (click)="submitValue(value.value)">Apply</button>
        <button [disabled]="waiting" (click)="submittingValue = false">Cancel</button>
        <mat-progress-bar *ngIf="waiting" mode="indeterminate"></mat-progress-bar>
    </div>
</div>