<div class="main-container">
    <!-- <div class="alert alert-app-level alert-info">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    App Level Alert
                </div>
                <div class="alert-actions">
                    <button class="btn btn-sm alert-action">Action</button>
                </div>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    </div> -->
    <header class="header header-6">
        <div class="branding">
            <span class="title">Pool 2 Play Concept</span>
        </div>
        <div class="header-nav">
            <app-blockchain-status></app-blockchain-status>
            <app-portis></app-portis>
            <!-- <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="cloud"></clr-icon>
            </a>
            <a href="javascript://" class="active nav-link nav-icon">
                <clr-icon shape="folder"></clr-icon>
            </a> -->
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/1">Blockchain 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/2">Blockchain 2</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/miner">Tellor Miner</a>
            </li> -->
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <!-- <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox" />
                    <label for="tabexample2">Sidenav</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link active">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>
            </section>
        </nav> -->
    </div>
</div>