<header class="header-4">
    <div class="branding">
        <span class="title">SubscriptionChecker Contract</span>
    </div>
</header>
<div *ngIf="!connected">Not connected</div>
<div *ngIf="connected">
    <div>address:
        <app-short-address [address]="address"></app-short-address>
    </div>
    <div>requestId: {{requestId}}</div>
    <div>threshold: {{threshold}}</div>
    <div>subscribedToken Contract: {{subscribedToken}}</div>
    <div>
        <clr-datagrid>
            <clr-dg-column>Events</clr-dg-column>
            <clr-dg-row *ngFor="let event of events">
                <clr-dg-cell>
                    <span>{{event}}</span>
                </clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>
